{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block body %}
    {% include 'elements/header.html.twig' %}
    <div class="global-container-small global-container-all">
        <div class="h-full mx-5 my-10 rounded-lg bg-white/50 flex flex-col items-center">
            <div class="w-full flex flex-col items-center">
                {% include 'mission_detail/missionInfo.html.twig' %}
            </div>
            <div>

            </div>
        </div>
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
