{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block body %}
    {% include 'elements/header.html.twig' %}
    <div class="global-container-small global-container-all w-full">
        <div class="h-full rounded-lg bg-white/50 flex flex-col items-center">
            <div class="w-full flex flex-col items-center mb-6">
                {% include 'mission_detail/missionInfo.html.twig' %}
            </div>
            <div class="flex w-full flex-col items-center xl:items-start xl:flex-row">
                <div class="w-5/6 md:w-3/5 xl:w-1/4">
                    {% for agent in missionDetail.agent %}
                        {% include 'mission_detail/agent.html.twig' with {'agent':agent} only %}
                    {% endfor %}
                </div >
                <div class="w-5/6 md:w-3/5 xl:w-1/4">
                    {% for contact in missionDetail.contact %}
                        {% include 'mission_detail/contact.html.twig' with {'contact':contact} only %}
                    {% endfor %}
                </div>
                <div class="w-5/6 md:w-3/5 xl:w-1/4">
                    {% for target in missionDetail.target %}
                        {% include 'mission_detail/target.html.twig' with {'target':target} only %}
                    {% endfor %}
                </div>
                <div class="w-5/6 md:w-3/5 xl:w-1/4">
                    {% for hidingPlace in missionDetail.hidingPlace %}
                        {% include 'mission_detail/hidingPlace.html.twig' with {'hidingPlace':hidingPlace} only %}
                    {% endfor %}
                </div>
        </div>
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
