@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Orbitron";
    src: url("/public/fonts/Orbitron.ttf");
}

.login-container-small{
    min-height: calc(100vh - 9rem)
}

.global-container-small{
    min-height: calc(100vh - 9rem - 9rem)
}

.scaling:hover {
    transform: scale(1.1);
}

@media (min-width: 640px) {
    .login-container-all{
        min-height: calc(100vh - 5rem)
    }
    .global-container-all{
        min-height: calc(100vh - 5rem - 5rem)
    }
}

@media screen
and (max-width: 500px)
and (min-width: 200px){
    .size-mobile{
        font-size: 12px;
    }
}




